.header {
    background-color: rgba(0, 0, 0, 0.822);
    padding: 40px;
    height: fit-content;
}
.header h1 {
    color: var(--main-color);
    font-family: monospace;
    width: 100%;
    line-height: 50px;
    letter-spacing: 3px;
    margin-left: 2%;

}
